Client_Name=Internal
Server_Name=Localhost
Disk_Used_Space_Percentage=90
CPU_Usage_Percentage=90
CPU_Monitoring_Time_In_Seconds=10
RAM_Usage_Percentage=90
RAM_Monitoring_Time_In_Seconds=10
Tomcat_Logs_Folder_Size_MB=80
Service_Names_Comma_Separated=Tomcat7,MySQL57,MySQL56,Mirth Connect Service
Email_To_Host_Type=exchange
Email_Host=10.0.0.3
Email_Port=25
Email_From_Username=ragini.mahajan@riomed.com
Email_From_Password=
Email_To=ragini.mahajan@riomed.com
Scheduled_Report=Yes
Scheduled_Report_Email_To=ragini.mahajan@riomed.com
Scheduled_Report_Interval_Hours=1
Scheduled_Report_Interval_Days=0
Scheduled_Report_Time_HH_MM_SS=15_58_00
Scheduled_Interval_Minutes=5
Scheduled_Interval_Hours=0
Scheduled_Interval_Days=0
MySQL_Backup_Files_path=D:/MySqlTest
Remainder_Email_Trigger_interval_Minutes=60
